# Environment variables
.env
.env.local

# Python compiled files & bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
.coverage.*

# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# IDE & Editor Settings
.idea/
.vscode/
*.swp
*.swo
.DS_Store

supabase/